.checkoutscreen {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	/* border: 1px solid #eee; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}

.checkoutscreen table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.checkoutscreen table td {
	padding: 5px;
	vertical-align: top;
}

.checkoutscreen .img {
	width: 5rem;
}

.checkoutscreen table tr.top table td {
	padding-bottom: 20px;
}

.checkoutscreen table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.checkoutscreen table tr.information table td {
	padding-bottom: 40px;
}

.checkoutscreen table tr.heading td {
	/* background: #eee; */
	/* border-bottom: 1px solid #ddd; */
	font-weight: bold;
}

.checkoutscreen table tr.details td {
	padding-bottom: 20px;
}

/* .checkoutscreen table tr.item td {
	border-bottom: 1px solid #eee;
} */

.checkoutscreen table tr.item.last td {
	border-bottom: none;
}

.checkoutscreen table tr.total td {
	/* border-top: 2px solid #eee; */
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.checkoutscreen table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.checkoutscreen table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}

/** RTL **/
.checkoutscreen.rtl {
	direction: rtl;
	font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.checkoutscreen.rtl table {
	text-align: right;
}

.checkoutscreen.rtl table tr td:nth-child(2) {
	text-align: left;
}

.checkoutscreen button {
	padding: 10px;
	width: 5rem;
	background: #171717;
	color: #f4f4f4;
	border: 1px solid #171717;
	cursor: pointer;
	float: right;
}